@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff'),
        url('../fonts/GothamPro-Bold.ttf') format('truetype'),
        url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Light.eot');
    src: url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff'),
        url('../fonts/GothamPro-Light.ttf') format('truetype'),
        url('../fonts/GothamPro-Light.svg#GothamPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Medium.eot');
    src: url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff'),
        url('../fonts/GothamPro-Medium.ttf') format('truetype'),
        url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.eot');
    src: url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff'),
        url('../fonts/GothamPro.ttf') format('truetype'),
        url('../fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}

a{
  outline: none;
}
a:hover{
  outline:none;
  text-decoration: none;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  outline:none;
  overflow-x: hidden;
}
p{
  display: inline-block;
}
.header_logo span{
  color: #292929;
  font-family: 'Gotham Pro';
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.header_logo p{
  color: #969696;
  font-family: 'Gotham Pro';
  font-size: 11px;
  font-weight: 300;
}
.logo{
  text-align: right;
}
.header_contacts{
  text-align: right;
  span{
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
  }
  p{
    color: #969696;
    font-family: 'Gotham Pro';
    font-size: 11px;
    font-weight: normal;
  }
}
.header_btn{
  text-align: center;
  display: inline-block;
  width: 160px;
  height: 40px;
  border: 2px solid #292929;
}
.header_btn a{
  color: #292929;
  font-family: 'Gotham Pro';
  font-size: 12px;
  font-weight: 500;
  line-height: 38px;
}
.header{
  margin-top: 30px;
}
.menu .container{
  height: 60px;
  background-color: #ffcc00;
  width: 1095px;
  text-align: center;
  line-height: 60px;
}
.menu a{
  color: #000000;
  font-family: 'Gotham Pro';
  font-size: 14px;
  font-weight: 500;
}
.display_oneBG{
  position: absolute;
  width: 100vw;
  height: 550px;
  background:url(../img/display_oneBG.png) center center no-repeat;
  top:116px;
  z-index: -1;
}
.display_one{
  height: 520px;
  &-headline{
    color: #ffffff;
    font-family: 'Gotham Pro';
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 140px;
    margin-left: 26px;
  }
  &-description{
    color: #ffffff;
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: 300;
    margin-top: 40px; 
    margin-bottom: 65px;
    margin-left: 29px;
  }
  &-link1{
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 50px;
    background-color: #ffd200;
    color: #0d0d0d;
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: 500;
    line-height: 50px;
    vertical-align: middle;
    margin-left: 29px;
  }
  &-link1:hover{
    color: #0d0d0d;
  }
  span{
    color: #ffffff;
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 10px;
  }
  &-link2{
    color: #ffffff;
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: 500;
  }
  &-link2:hover{
    color: #ffffff;
  }
}

.display_two{
  &-headline{
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;  
  }
  &-block1{
    text-align: center;
    margin-right: 20px;
    width: 300px;
    height: 480px;
    border: 2px solid #f6f6f6;
    img{
      margin-top: 61px;
    }
    &_headline{
      display: inline-block;
      color: #292929;
      font-family: 'Gotham Pro';
      font-size: 15px;
      font-weight: 500;
      text-decoration: underline;
      margin-top: 20px;
      margin-bottom: 15px;
    }
    p{
      color: #626262;
      font-family: 'Gotham Pro';
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    &_price{
      display: inline-block;
      color: #0f0f0f;
      font-family: 'Gotham Pro';
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    a{
      display: inline-block;
      width: 180px;
      height: 50px;
      background-color: #ffd200;
      color: #0d0d0d;
      font-family: 'Gotham Pro';
      font-size: 12px;
      font-weight: 500;
      line-height: 50px;
    }
  }
  &-block2{
    text-align: center;
    margin-right: 20px;
    width: 300px;
    height: 480px;
    border: 2px solid #f6f6f6;
    img{
      margin-top: 68px;
      margin-left: 10px;
    }
    &_headline{
      display: inline-block;
      color: #292929;
      font-family: 'Gotham Pro';
      font-size: 15px;
      font-weight: 500;
      text-decoration: underline;
      margin-top: 42px;
      margin-bottom: 15px;
    }
    p{
      color: #626262;
      font-family: 'Gotham Pro';
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    &_price{
      display: inline-block;
      color: #0f0f0f;
      font-family: 'Gotham Pro';
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    a{
      display: inline-block;
      width: 180px;
      height: 50px;
      background-color: #ffd200;
      color: #0d0d0d;
      font-family: 'Gotham Pro';
      font-size: 12px;
      font-weight: 500;
      line-height: 50px;
    }
  }
  &-block3{
    text-align: center;
    margin-right: 20px;
    width: 300px;
    height: 480px;
    border: 2px solid #f6f6f6;
    img{
      margin-top: 13px;
    }
    &_headline{
      display: inline-block;
      color: #292929;
      font-family: 'Gotham Pro';
      font-size: 15px;
      font-weight: 500;
      text-decoration: underline;
      margin-top: 33px;
      margin-bottom: 15px;
    }
    p{
      color: #626262;
      font-family: 'Gotham Pro';
      font-size: 13px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    &_price{
      display: inline-block;
      color: #0f0f0f;
      font-family: 'Gotham Pro';
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    a{
      display: inline-block;
      width: 180px;
      height: 50px;
      background-color: #ffd200;
      color: #0d0d0d;
      font-family: 'Gotham Pro';
      font-size: 12px;
      font-weight: 500;
      line-height: 50px;
    }
  }
  &-blocks{
   margin-left: 103px;
   margin-bottom: 80px;
  }
}

.display_three{
  width: 100vw;
  background-color: #f4f4f4;
  &-headline{
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
  }
  &-blocks{
    margin-left: 103px;
    margin-bottom: 80px;
  }
  &-block1{
    text-align: center;
    margin-right: 20px;
    width: 300px;
    height: 253px;
    border: 2px solid #ffffff;
    img{
      margin-top:40px;
      margin-bottom: 25px;
    }
    span{
      display: inline-block;
      color: #292929;
      font-family: 'Gotham Pro';
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
  &-block2{
    text-align: center;
    margin-right: 20px;
    width: 300px;
    height: 253px;
    border: 2px solid #ffffff;
    img{
      margin-top:40px;
      margin-bottom: 25px;
    }
    span{
      display: inline-block;
      color: #292929;
      font-family: 'Gotham Pro';
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
  &-block3{
    text-align: center;
    width: 300px;
    height: 253px;
    border: 2px solid #ffffff;
    img{
      margin-top:40px;
      margin-bottom: 25px;
    }
    span{
      display: inline-block;
      color: #292929;
      font-family: 'Gotham Pro';
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
  &-block1:hover{
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
  &-block2:hover{
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
  &-block3:hover{
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
}
.display_four{
  width: 100vw;
  background-color: #fff;
  &-blocks{
    margin-left: 83px;
    margin-bottom: 80px;
  }
  &-headline{
    text-align: center;
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  &-block{
    margin-left: 20px;
    text-align: center;
    width: 220px;
    height: 345px;
    border: 2px solid #f6f6f6;
    background-color: #ffffff;
    img{
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 22px;
    }
    p{
      color: #292929;
      font-family: 'Gotham Pro';
      font-size: 13px;
      font-weight: normal;
      text-decoration: underline;
      display: inline-block;
      margin-bottom: 20px;
    }
    &_span1{
      color: #ff0000;
      font-family: 'Gotham Pro';
      font-size: 16px;
      font-weight: 500;
    }
    &_span{
      color: #000000;
      font-family: 'Gotham Pro';
      font-size: 16px;
      font-weight: 500;
    }
    &_span-min{
      color: #979797;
      font-family: 'Gotham Pro';
      font-size: 10px;
      font-weight: 400;
      text-decoration: line-through;
      vertical-align: top;
    }
    a{
      display: inline-block;
      width: 180px;
      height: 50px;
      background-color: #ffd200;
      color: #0d0d0d;
      font-family: 'Gotham Pro';
      font-size: 12px;
      font-weight: 500;
      line-height: 50px;
      margin-top: 20px;
    }
    a:hover{
      color:#0d0d0d;
    }
  }
}
.display_five{
  width: 100vw;
  background-color: #f4f4f4;
  &-headline{
    text-align: center;
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 60px;
  }
  &-blocks{
    margin-left: 103px;
    margin-bottom: 80px;
  }
  &-block1{
    text-align: center;
    width: 300px;
    height: 253px;
    border: 2px solid #ffffff;
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    span{
      text-decoration: underline;
      display: inline-block;
      margin-top: 30px;
    }
    img{
      margin-top: 50px;
    }  
  }
  &-block2{
    text-align: center;
    width: 300px;
    height: 253px;
    border: 2px solid #ffffff;
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    span{
      display: inline-block;
      margin-top: 30px;
      text-decoration: underline;
    }
    img{
      margin-top: 47px;
    }  
  }
  &-block3{
    text-align: center;
    width: 300px;
    height: 253px;
    border: 2px solid #ffffff;
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 15px;
    font-weight: 500;
    span{
      text-decoration: underline;
      display: inline-block;
      margin-top: 30px;
    }
    img{
      margin-top: 38px;
    }  
  }
  &-block1:hover{
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
  &-block2:hover{
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
  &-block3:hover{
    box-shadow: 0 9px 21px rgba(0, 0, 0, 0.05);
    background-color: #fff;
  }
}
.display_six{
  width: 100vw;
  height: 520px;
  background: url(../img/map.webp) center center no-repeat;
  &-contacts{
    width: 380px;
    height: 360px;
    background-color: #ffffff;
    margin-top: 80px;
    padding-left: 50px;
  }
  img{
    margin-right: 10px;
  }
  &-headline{
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  &-number{
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &-number1{
    margin-left: 27px;
    margin-bottom: 20px;  
  }
  &-address{
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  &-mail{
    color: #292929;
    font-family: 'Gotham Pro';
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
  }
}
.display_six-address_img{
  vertical-align: top;
}
.footer{
  width: 100vw;
  height: 196px;
  background-color: #292929;
  color:#fff;
  &_logo{
    text-align: right;
  }
  &_top span{
    font-family: 'Gotham Pro';
    font-size: 19px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
  }
  &-top p{
    font-family: 'Gotham Pro';
    font-size: 10px;
    font-weight: 300;
    color:#fff;
  }
  &_right{
    text-align: right;
  }
  &_bottom a{
    display: inline-block;
    width: 160px;
    height: 40px;
    border: 2px solid #fff;
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: 500;
    color:#fff;
    line-height: 37px;
    text-align: center;
  }
  &_bottom span{
    display: inline-block;
    font-family: 'Gotham Pro';
    font-size: 12px;
    font-weight: normal;
    margin-left: 27px;
  }
  &_bottom{
    margin-top: 25px;
  }
  padding-top: 50px ;
}

.display_two-blocks_min{
  display: none;
}
.display_three-blocks_min{
  display: none;
}
.display_four-blocks_min{
  display: none;
}
.display_five-blocks_min{
  display: none;
}
@media (max-width: 1100px) {
  .menu .container{
    width: 970px;
  }
  .display_one .container {
    margin-left: 38px;
  }
  .display_two-blocks{
    display: none;
  }
  .display_two-blocks_min{
    display: block;
  }
  .display_two-block1{
    margin-left: 347px;
    margin-bottom: 50px;
  }
  .display_two-block2{
    margin-left: 347px;
    margin-bottom: 50px;
  }
  .display_two-block3{
    margin-left: 347px;
    margin-bottom: 50px;
  }
  .display_three-blocks{
    display: none;
  }
  .display_three-blocks_min{
    display: block;
  }
  .display_three-block1{
    margin-left: 347px;
    margin-bottom: 50px;
  }
  .display_three-block2{
    margin-left: 347px;
    margin-bottom: 50px;
  }
  .display_three-block3{
    margin-left: 347px;
    margin-bottom: 50px;
  }
  .display_four-blocks{
    display: none;
  }
  .display_four-blocks_min{
    display: block;
  }
  .display_four-block{
    margin-left: 395px;
    margin-bottom: 50px;
  }
  .display_five-blocks_min{
    display: block;
  }
  .display_five-blocks{
    display: none;
  }
  .display_five-block1{
    margin-left: 349px;
    margin-bottom: 50px;
  }
  .display_five-block2{
    margin-left: 349px;
    margin-bottom: 50px;
  }
  .display_five-block3{
    margin-left: 349px;
    margin-bottom: 50px;
  }
  .display_one-headline{
    margin-left: -19px;
  }
  .display_one-description{
    margin-left: -15px;
  }
  .display_one-link1{
    margin-left: -13px;
  }
}
@media (max-width: 768px) {
  .menu .container {
    width: 700px;
  }
  .header_logo span{
    font-size: 17px;
  }
  .header_logo p{
    font-size: 10px;
  }
  .header_contacts span{
    font-size: 15px;
  }
  .header_contacts p{
    font-size: 9px;
  }
  .header_btn{
    width: 149px;
  }
  .header_btn a{
    font-size: 11px;
  }
  .menu a{
    font-size: 12px;
  }
  .display_one .container {
    margin-left: 0px;
    width: 700px;
  }
  .display_one-headline{
    margin-left: 26px;
  }
  .display_one-description{
    margin-left: 29px;
  }
  .display_one-link1{
    margin-left: 29px;
  }
  .display_two-block1{
    margin-left: 252px;
  }
  .display_two-block2{
    margin-left: 252px;
  }
  .display_two-block3{
    margin-left: 252px;
  }
  .display_three-block1{
    margin-left: 247px;
  }
  .display_three-block2{
    margin-left: 247px;
  }
  .display_three-block3{
    margin-left: 247px;
  }
  .display_four-block{
    margin-left: 289px;
  }
  .display_five-block1{
    margin-left: 249px;
  }
  .display_five-block2{
    margin-left: 249px;
  }
  .display_five-block3{
    margin-left: 249px;
  }
  .display_six-contacts{
    width: 333px;
    height: 307px;
    margin-left: 373px;
  }
  .footer_top span{
    font-size: 17px;
  }
  .footer_bottom span{
    font-size: 9px;
    margin-left: 3px;
  }
  .footer_bottom a{
    width: 140px;
  }
  .footer{
    padding-top: 32px;
    &-top p{
      font-size: 8px;
    }
  }
}
.footer_min{
  display: none;
}
.header_min{
  display: none;
}
@media (max-width: 420px) {
  .header_normal{
    display: none;
  }
  .header_min{
    display: block;
    .logo{
      margin-right: 30px;
    }
    .header_contacts span {
      font-size: 12px;
    }
    .header_btn a {
      font-size: 9px;
    }
    .header_btn{
      width: 129px;
    }
    .header_contacts{
      text-align: left;
    }
  }
  .menu_linkNONE{
    display: none;
  }
  .menu .container {
    width: 397px;
    height: 50px;
    line-height: 50px;
  }
  .menu a {
    font-size: 10px;
  }
  .display_oneBG{
    top:154px;
    height: 358px;
  }
  .display_one .container{
    width: 100%;
  }
  .display_one-headline{
    font-size: 26px;
    margin-top: 71px;
  }
  .display_one-description {
    font-size: 13px;
    margin-top: 22px;
    margin-bottom: 52px;
  }
  .display_one-link1{
    width: 140px;
    height: 40px;
    line-height: 40px;
    font-size: 10px;
  }
  .display_one span{
    font-size: 11px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .display_one {
    height: 289px;
  }
  .display_two-block1 {
    margin-left: 82px;
  }
  .display_two-block2 {
    margin-left: 82px;
  }
  .display_two-block3 {
    margin-left: 82px;
  }
  .display_three-block1 {
    margin-left: 76px;
  }
  .display_three-block2 {
    margin-left: 76px;
  }
  .display_three-block3 {
    margin-left: 76px;
  }
  .display_four-block {
    margin-left: 115px;
  }
  .display_five-block1 {
    margin-left: 75px;
  }
  .display_five-block2 {
    margin-left: 75px;
  }
  .display_five-block3 {
    margin-left: 75px;
  }
  .display_six-contacts {
    width: 289px;
    margin-left: 40px;
    padding-left: 9px;
    padding-top: 5px;
  }
  .display_six-headline{
    margin-top: 25px;
  }
  .footer_normal{
    display: none;
  }
  .footer_min{
    display: block;
  }
  .footer{
    height: 305px;
    &_top p{
      font-size: 10px;
    }
  }
  .footer_logo{
    margin-right: 30px;
  }
  .footer_top span {
    font-size: 14px;
  }
  .footer_right{
    margin-top: 20px;
    text-align: center;
  }
  .footer_bottom a{
    margin-left: 123px;
  }
  .display_two-blocks_min .row{
    width: 100%;
  }
  .display_three-blocks_min .row{
    width: 100%;
  }
  .display_four-blocks_min .row{
    width: 100%;
  }
  .display_five-blocks_min .row{
    width: 100%;
  }
}
@media (max-width: 400px) {
  .menu .container {
    text-align: center;
    width: 370px;
  }
  .display_two-block1 {
    margin-left: 72px;
  }
  .display_two-block2 {
    margin-left: 72px;
  }
  .display_two-block3 {
    margin-left: 72px;
  }
  .display_three-block1 {
    margin-left: 64px;
  }
  .display_three-block2 {
    margin-left: 64px;
  }
  .display_three-block3 {
    margin-left: 64px;
  }
  .display_four-block {
    margin-left: 103px;
  }
  .display_five-block1 {
    margin-left: 70px;
  }
  .display_five-block2 {
    margin-left: 70px;
  }
  .display_five-block3 {
    margin-left: 70px;
  }
}
@media (max-width: 387px) {
  .display_oneBG{
    top:171px;
  }
  .footer_bottom a {
    margin-left: 111px;
  }
}
@media (max-width: 375px) {
  .display_oneBG{
    height: 382px;
  }
  .menu .container{
    width: 329px;
  }
  .menu a {
    font-size: 9px;
  }
  .display_two-block1 {
    margin-left: 56px;
  }
  .display_two-block2 {
    margin-left: 56px;
  }
  .display_two-block3 {
    margin-left: 56px;
  }
  .display_three-block1 {
    margin-left: 54px;
  }
  .display_three-block2 {
    margin-left: 54px;
  }
  .display_three-block3 {
    margin-left: 54px;
  }
  .display_four-block {
    margin-left: 88px;
  }
  .display_five-block1 {
    margin-left: 59px;
  }
  .display_five-block2 {
    margin-left: 59px;
  }
  .display_five-block3 {
    margin-left: 59px;
  }
  .footer_bottom a {
    margin-left: 99px;
  }
}
.display_one-min{
    display: none;
}
@media (max-width: 360px) {
  .display_oneBG{
    height: 400px;
  }
  .menu .container{
    width: 310px;
  }
  .menu a {
    font-size: 9px;
  }
  .display_two-block1 {
    margin-left: 39px;
  }
  .display_two-block2 {
    margin-left: 39px;
  }
  .display_two-block3 {
    margin-left: 39px;
  }
  .display_three-block1 {
    margin-left: 43px;
  }
  .display_three-block2 {
    margin-left: 43px;
  }
  .display_three-block3 {
    margin-left: 43px;
  }
  .display_four-block {
    margin-left: 82px;
  }
  .display_five-block1 {
    margin-left: 45px;
  }
  .display_five-block2 {
    margin-left: 45px;
  }
  .display_five-block3 {
    margin-left: 45px;
  }
  .footer_bottom a {
    margin-left: 91px;
  }
  .display_one {
    height: 368px;
  }
  .display_one-normal{
    display: none;
  }
  .display_one-min{
    display: block;
  }
  .display_oneBG {
    height: 457px;
  }
  .display_one span{
    display: inline-block;
    margin-left: 87px;
    margin-top: 10px;
  }
  .display_one-link2{
    display: inline-block;
    margin-top: 10px;
    margin-left: 44px;
  }
}
@media (max-width: 346px) {
  .display_two-block1 {
    margin-left: 32px;
  }
  .display_two-block2 {
    margin-left: 32px;
  }
  .display_two-block3 {
    margin-left: 32px;
  }
  .display_three-block1 {
    margin-left: 34px;
  }
  .display_three-block2 {
    margin-left: 34px;
  }
  .display_three-block3 {
    margin-left: 34px;
  }
  .display_four-block {
    margin-left: 67px;
  }
  .display_five-block1 {
    margin-left: 33px;
  }
  .display_five-block2 {
    margin-left: 33px;
  }
  .display_five-block3 {
    margin-left: 33px;
  }
  .display_six-contacts{
    margin-left: 9px;
  }
  .display_six{
    height: 450px;
  }
  .footer_bottom a {
    margin-left: 83px;
  }
}
@media (max-width: 320px) {
  .display_two-block1 {
    margin-left: 25px;
  }
  .display_two-block2 {
    margin-left: 25px;
  }
  .display_two-block3 {
    margin-left: 25px;
  }
  .display_three-block1 {
    margin-left: 23px;
  }
  .display_three-block2 {
    margin-left: 23px;
  }
  .display_three-block3 {
    margin-left: 23px;
  }
  .display_five-block1 {
    margin-left: 26px;
  }
  .display_five-block2 {
    margin-left: 26px;
  }
  .display_five-block3 {
    margin-left: 26px;
  }
  .footer_bottom a {
    margin-left: 75px;
  }
}